<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /niftydogs/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /niftydogs/index.html [L]
</IfModule>