.bg-como {
    background-image: url('./assets/como_bg.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top;
}

.bg-navbar {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-toggler-icon {
    color: white;
}

.carousel-indicators {
    transform: translateY(60px) !important;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
}

.carousel-indicators button:nth-child(even) {
    margin-left: 15px;
    margin-right: 15px;
}

.custom-shape-divider-bottom-1657471885 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1657471885 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1657471885 .shape-fill {
    fill: #000000CC;
}


.custom-shape-divider-top-1657495032 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translateY(calc(100%));
    
}

.custom-shape-divider-top-1657495032 svg {
    position: relative;
    display: block;
    width: calc(200% + 20px);
    height: 200px;
}

.custom-shape-divider-top-1657495032 .shape-fill {
    fill: #000000CC;
}

.custom-shape-divider-bottom-1657503357 {
    position: absolute;
    bottom: -105px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1657503357 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1657503357 .shape-fill {
    fill: rgba(86, 93, 50, 0.7);
}


.custom-shape-divider-top-1657558878 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.custom-shape-divider-top-1657558878 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-top-1657558878 .shape-fill {
    fill: #565D32;
}

.whitesArrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
    transform: translateY(-50px);
}

.whitesArrow svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}



ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #FFC700;
    display: inline-block;
    position: absolute;
    top:0;
    left: 40px;
    width: 5px;
    height: calc(100% + 40px + 4rem);
    z-index: 400;
    transform: translateY(-40px);
}

ul.timeline::after {
    content: url('./assets/image.svg');
    display: inline-block;
    position: absolute;
    left: 0;
    transform: translate(calc(-25% + 13px), -50%);

}

ul.timeline > li:before {
    content: attr(data-no);
    background-color: black;
    font-family: "Alfa Slab One";
    padding-top: 12px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0;
    left: 5px;
    width: 80px;
    height: 80px;
    z-index: 400;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border: 4px solid #FFC700;
}

ul.timeline > li:last-child::before {
    background: #FFC700;
    color: black;
    margin-bottom: 4rem;
}



.greenArea {
    z-index: 1;
    transform: translateY(30%);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%);
}

.roadmap_dogImage{
    content:url('./assets/hero.png');
    width: 30%;
    position: absolute;
    top: 500px;
    left: 0;
    transform: scaleX(-1) translateX(calc(-250%));
}

.roadmap_greenpoly {
    content:url('./assets/greenpoly.svg');
    position: absolute;
    width: 100%;
    top: 850px;
    left: 0;
}

.artistArea {
    background: url('./assets/tan_camo.png') no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 90%);
}

.artist_greenLine {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width:100%;
    height: 180px;
    transform: translateY(30px);
    clip-path: polygon(0 20%, 100% 80%, 100% 100%, 0% 40%);
}

.bg-team {
    background: url('./assets/bg-team.png');
}


.custom-shape-divider-top-1657719612 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657719612 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1657719612 .shape-fill {
    fill: #000000;
}

@media only screen and (min-width: 680px) {
    .artist_greenLine {
        height: 250px !important;
        transform: translateY(30px);
        clip-path: polygon(0 20%, 100% 80%, 100% 90%, 0% 30%);
    }
}

@media only screen and (min-width: 1024px) {
    .artist_greenLine {
        height: 150px !important;
        transform: translateY(30px);
        clip-path: polygon(0 0%, 100% 70%, 100% 90%, 0% 20%);
    }
}

.custom-shape-divider-bottom-1657730253 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1657730253 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    
}

.custom-shape-divider-bottom-1657730253 .shape-fill {
    fill: #000000;
}



.footerArea {
    background: url('./assets/tan_camo.png');
    background-size: cover;
}


.custom-shape-divider-top-1657737031 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657737031 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 220px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1657737031 .shape-fill {
    fill: #000000;
}
